*{
    box-sizing: border-box;
}

body{
    background-color:#00b4d8;
    color: #403d39;
    font-family: 'Phudu', cursive;
    width: 100vw;
    font-weight: 500;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
}

#canvas{
    border-radius: 5px;
    background-image: url(./game_background_1.png);
    background-position: center;
    background-size: contain;
}

